html {
  font-size: 112.5%;
  scroll-behavior: smooth;
  height: 100%;
}

.container_main{
display: flex;
flex-direction: row;
justify-content: flex-end;
}

h1, h2, h3, h4, h5, h6{
    text-decoration: underline;
    text-align: right;
}

.flexy{
    width: 100%;
}

body{
background: #BEB25C;
background: linear-gradient(0deg, #BEB25C, #B6F2AB);
background-attachment: fixed;
}

hr {
  border: 1px;
   width:100%;
   height: 5px;
   background-color: black;
  }

h1{
    font-size: 5.61rem;
    margin: 2rem;
}


h2{
    font-size: 4.209rem;
    margin: 2rem;
}

h3{
    font-size: 3.157rem;
    margin: 2rem;
}

.name{
    margin-bottom: 50%;
}

.about{
    margin-bottom: 50%;
}

.experience{
    margin-bottom: 50%;
}

.projects{
    margin-bottom: 50%;
}

.contact{
    margin-bottom: 50%;
}


nav{
    background-color: grey;
    position: fixed;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 9rem;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0.4rem 0rem 2rem 0.1rem rgb(59, 59, 59);

}

.button{
  text-align: center;
  width: 100px;
  height: 20px;
  background-color: rgb(196, 196, 196);
  border-radius: 10px 10px;
  padding: 40px 20px;
  margin: 4px;
  
  transition: 0.1s;
  color: black;
  text-decoration: none;
}

.button:hover{
    background-color: rgb(148, 147, 147);
    box-shadow: 0.2rem 0.1rem 0.3rem 0.1rem rgb(59, 59, 59);
    transition: 0.05s;
    transform: scale(0.993)
}
