html {
  font-size: 112.5%;
  scroll-behavior: smooth;
  height: 100%;
}

.container_main{
display: flex;
flex-direction: row;
justify-content: flex-end;
}

h1, h2, h3, h4, h5, h6{
    text-decoration: underline;
    text-align: right;
}

.flexy{
    width: 100%;
}

body{
background: #BEB25C;
background: linear-gradient(0deg, #BEB25C, #B6F2AB);
background-attachment: fixed;
}

hr {
  border: 1px;
   width:100%;
   height: 5px;
   background-color: black;
  }

h1{
    font-size: 5.61rem;
    margin: 2rem;
}


h2{
    font-size: 4.209rem;
    margin: 2rem;
}

h3{
    font-size: 3.157rem;
    margin: 2rem;
}

.name{
    margin-bottom: 50%;
}

.about{
    margin-bottom: 50%;
}

.experience{
    margin-bottom: 50%;
}

.projects{
    margin-bottom: 50%;
}

.contact{
    margin-bottom: 50%;
}

.nav_flex{
    display: flex;
    flex-direction: column;
}

nav{
    background-color: grey;
    position: fixed;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 6.5rem;
    align-content: space-between;
}

.button{
  text-align: center;
  width: 100px;
  height: 20px;
  background-color: rgb(196, 196, 196);
  border-radius: 10px 10px;
  padding: 2px 20px;
  margin: 4px;
}