html {
  font-size: 112.5%;
  scroll-behavior: smooth;
  height: 100%;
}

body{
background: #BEB25C;
background: linear-gradient(0deg, #BEB25C, #B6F2AB);
background-attachment: fixed;
}

.container_main{
box-sizing: border-box;
display: flex;
flex-direction: row;
justify-content: flex-end;
}

h1, h2, h3, h4, h5, h6{
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: italic;
    text-decoration: underline;
    text-align: right;
    padding-top: 3rem;
}

p{
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.flexy{
    width: 100%;
}



hr {
  border: 1px;
   width:100%;
   height: 5px;
   background-color: black;
  }

h1{
    font-size: 5.61rem;
    margin: 2rem;
}


h2{
    font-size: 4.209rem;
    margin: 2rem;
}

h3{
    font-size: 3.157rem;
    margin: 2rem;
}

.name{
    margin-bottom: 20%;
}

.about{
    margin-bottom: 20%;
}

.experience{
    margin-bottom: 50%;
}

.projects{
    margin-bottom: 50%;
}

.contact{
    margin-bottom: 50%;
}


nav{
    background: #383838;
    background: linear-gradient(0deg, #383838, #808080);;
    position: fixed;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 9rem;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

ul{
    font-family: "Merriweather", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings: "wdth" 100;

    padding-top: 60px;
}

li{
    padding-bottom: 40px;
}

.top_space_large{
    padding-top: 3.25rem;
}

.top_space_small{
    padding-top: 1.25rem;
}

.top_space{
    padding-top: 2.5rem;
}

.button{
  text-align: center;
  width: 100px;
  height: 20px;
  background-color: rgb(196, 196, 196);
  border-radius: 10px 10px;
  padding: 20px 20px;
  margin: 4px;
  
  transition: 0.1s;
  color: black;
  text-decoration: none;

  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.button:hover{
    background-color: rgb(148, 147, 147);
    box-shadow: 0.2rem 0.1rem 0.3rem 0.1rem rgb(49, 49, 49);
    transition: 0.05s;
    transform: scale(0.99)
}

.text_right{
    margin-left: 56%;
    margin-right: 1rem;
}

.text_left{
    margin-right: 46.5%;
    margin-left: 10rem;
}

.img_right{
    margin-right: 3rem;
}


.img_left{
    margin-left: 12rem;
    margin-right: 0px;
}

.mad_libs{
    border-radius: 15px 15px;
    border: 2px solid black;
    position: absolute;
    right: 3rem;
    top: 1475px;
    box-shadow: -0.3rem 0.3rem 0.7rem 0.2rem rgb(29, 29, 29);
}

.jonah{
    border-radius: 15px 15px;
    border: 2px solid black;
    position: absolute;
    top: 100px;
    box-shadow: 0.3rem 0.3rem 0.7rem 0.2rem rgb(29, 29, 29);
}

.farms{
    border-radius: 15px 15px;
    border: 2px solid black;
    position: absolute;
    top: 2600px;
    box-shadow: 0.3rem 0.3rem 0.7rem 0.2rem rgb(29, 29, 29);
}

.much_space{
    margin-top: 12rem;
}